<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--TST LOCAL-->
    <!--  <add key="TST_CLIENT_CONFIG" value="cW8bNEtGh1bhfP8H+aCycVoAGlsTal6AUS7QoXTVRDHyT66F9n24fR3RbQzN4yaghv1SIhyKj6kr5LMDZOMPQbQ7dq9V9qkDx9OVZnaP4JQza2pLJ0GeDxAFqAhLGCqqaGx2+kgh6czDLsvn/r5ZMcFJJhMoPBVn3I69s/xCTanKRwO3NXC73UWLN260TXqddSUoSi7LGP+vErjvAyogxEczv0oCrxSw6UQeLlIZ0AwJVDgfayCjxEJRZ7D06TYJc4QNFiAnfiIW0ZJ43tToptg03i+u+15aYNU4ucn3xbWlu53M1TC5y7pB0mea8HZsCSDDmc9CTVIysaZpxRZQX70Ri0GONvWcQRzY/8MpUBllUw9f08xo6Or8qIBrILnJ7YO+tvZi6YM1quHLaHSFEQ==" />  -->
	<add key="TST_CLIENT_CONFIG" value="cW8bNEtGh1bhfP8H+aCycVoAGlsTal6AUS7QoXTVRDHyT66F9n24fWAubsw24/vsPLGzjVgV6C3dThbhuibtf4vWbXB9b0eWeh2NI8Bs8MBAwmyIh6asX1GTZn6L7mYkhXR2nT2xsQBJxBzDi6Cxti8bgNWVLZMelAFDl1+ban7ISGGBciskx+FZZbBLa9LC9ev+MgIMi9TdXfOcGAnZKPeS28FXHMlGzSmmHal8fnZXIuQecERXQjgRJKTXKXZ093h0wBHLvGtMCATZtJYQzE4f2MKFf9N9fa7OpwLbm668uKkhUw6/SqbdnAPADfGitHGeRZ82Joa6qkIfdhvA9a+jMrniFfM0gvpmiFkFO/cukm1r0YPuuL0v7n/upMSL1vgPMuC9oRLoqQOw9hzSz6NR0aaS3zj+" />
  </appSettings>
  <connectionStrings />
  <system.web>
        <compilation debug="false" defaultLanguage="c#" targetFramework="4.0" />
    <customErrors redirectMode="ResponseRedirect" defaultRedirect="~/system/generic-error/Oops.aspx?code=error" mode="Off">
      <error statusCode="403" redirect="~/system/generic-error/Oops.aspx?code=403" />
      <error statusCode="404" redirect="~/system/generic-error/Oops.aspx?code=404" />
    </customErrors>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <sessionState mode="InProc" timeout="60" useHostingIdentity="false" />
    <pages enableSessionState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <httpModules>
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </httpModules>
    <httpRuntime maxRequestLength="2147483647" />
    <!--Unit of measurement: kilobytes Default value 4096 KB (4 MB) Max. value 2147483647 KB (2 TB)-->
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
    <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.0" newVersion="5.5.13.0" />
      </dependentAssembly>
	  <dependentAssembly>
        <assemblyIdentity name="TSERP.Core" publicKeyToken="2aec5614fc4493eb" culture="neutral" />
        <bindingRedirect newVersion="1.0.0.0" />
      </dependentAssembly>
	  <dependentAssembly>
        <assemblyIdentity name="TSERP.Libs" publicKeyToken="67954957136078f1" culture="neutral" />
        <bindingRedirect newVersion="1.0.0.0" />
      </dependentAssembly>
	  <dependentAssembly>
        <assemblyIdentity name="TSERP.License" publicKeyToken="38744299ed1a7348" culture="neutral" />
        <bindingRedirect newVersion="1.0.0.0" />
      </dependentAssembly>
	  <dependentAssembly>
        <assemblyIdentity name="TSERP.PlatformLicense" publicKeyToken="42fbd6bd0f47b2c3" culture="neutral" />
        <bindingRedirect newVersion="1.0.0.0" />
      </dependentAssembly>
	  <dependentAssembly>
        <assemblyIdentity name="TSERP.Web" publicKeyToken="78a900cdd4d2bac0" culture="neutral" />
        <bindingRedirect newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
                <add value="Login.aspx" />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295"></requestLimits>
        <!--Unit of measurement: bytes Default value 30000000 bytes (28.6 MB) Max. value 4294967295 bytes (4 GB)-->
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
<!--ProjectGuid: 87B42058-D218-4377-ADC8-46E53120FEA9-->