
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
<META HTTP-EQUIV="EXPIRES" CONTENT="-1">
<META NAME="AUTHOR" CONTENT="NGUYỄN THANH XUÂN">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link href="/gsf/system/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" /> -->
<link href="<%=ctx %>/system/styles/esys.css" rel="stylesheet" />
<link href="<%=ctx %>/system/styles/esys.popup.css" rel="stylesheet" />
<link href="<%=ctx %>/system/styles/esys.tab.css" rel="stylesheet" />
<link href="<%=ctx %>/system/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
<script src="<%=ctx %>/system/libs/shim.js"></script>
<link rel="stylesheet" href="<%=ctx %>/system/styles/esys<%=applicationCss %>.css" />


<script src="<%=ctx %>/system/controls/esys.js"></script>
<script src="<%=ctx %>/system/controls/esys.data.js"></script>
<script src="<%=ctx %>/system/controls/esys.grid.js"></script>
<script src="<%=ctx %>/system/controls/esys.input.js"></script>
<script src="<%=ctx %>/system/controls/esys.contain.js"></script>
<script src="<%=ctx %>/system/controls/esys.nav.js"></script>
<script src="<%=ctx %>/system/controls/esys.viewer.js"></script>
<script src="<%=ctx %>/system/controls/esys.components.js"></script>
<script src="<%=ctx %>/system/libs/jquery/jquery-2.1.1.min.js"></script>
<script src="<%=ctx %>/system/libs/jsrender.js"></script> 


<script src="<%=ctx %>/system/controls/cultures/esys.culture.en.js"></script>
<script src="<%=ctx %>/system/libs/system.js"></script>
<script src="<%=ctx %>/system/libs/libextend.js"></script>
<script src="<%=ctx %>/system/libs/app.js"></script>
<script src="<%=ctx %>/system/libs/moment.min.js"></script>
<script src="<%=ctx %>/system/libs/common.js"></script>
<script src="<%=ctx %>/system/libs/json2.js"></script>






<!--style-->
<style type="text/css">
    .jqx-tabs-content-element {
        overflow: inherit;
    }

    .noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        position: relative;
        min-height: 1px;
        padding-right: 10px !important;
        padding-left: 5px !important;
    }

    .table {
    }

    .layoutContainer {
        height: 100%;
        width: 100%;
        table-layout: inherit !important;
    }

    .gridContainer {
        height: 100%;
        width: 100%;
    }
</style>